<!DOCTYPE html>
{{ partial "header.html" . }}
<div class="row">

   
</div>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-9">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
      {{ range $paginator.Pages }}
      <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <span class="text-info">{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}</span>
      <p>{{ .Summary }}</p>
      <a href="{{ .Permalink }}">Read On &rarr;</a>
      {{ end }}
      <div>
      </div>
      <div class="pagination">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}