</body>
<footer class="panel-footer navbar-fixed-bottom">
<div class="container">
	<p class="text-muted">Copyright Shelan Perera @ 2016</p>
</div>
</footer>
{{ if isset .Site.Params "highlight" }}<script src="{{ "/js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>{{ end }}
<script src="/js/flat-ui.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/html5shiv.js"></script>
<script src="/js/respond.js"></script>
{{ with .Site.Params.googleAnalytics }}
<script>
var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{{ end }}
</html>